/* Variables */
:root {
  --bmw-blue: #3369d3;

  --unnamed-color-000000: #000000;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-707070: #707070;
  --unnamed-color-4e4e4e: #4e4e4e;
}
/* Colors */

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 192rem;
  letter-spacing: 1px;

  font-family: "Cairo", sans-serif;

  overflow-x: hidden;

  cursor: default;
}

/* Section hero */

.section-hero {
  width: 192rem;

  height: 90rem;

  position: relative;
}

/* Mobile navigation */
.container-mobile-nav {
  position: absolute;
  z-index: 99;
  width: 39rem;
  height: 100vh;
  background-color: var(--unnamed-color-000000);
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: var(--unnamed-color-ffffff);

  transition: 1s;
  transform: translateX(-39rem);
}

.mobile-nav-header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: end;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  position: relative;
}

.close-mobile-nav-btn {
  position: absolute;
  width: 4rem;
  top: 9rem;
  left: 29rem;
  stroke: #858585;
  cursor: pointer;

  transition: 0.2s;
}

.close-mobile-nav-btn:hover {
  stroke: #eee;
}

.mobile-nav-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.mobile-nav-option {
  font-size: 16px;
  font-weight: 400;
  color: var(--unnamed-color-ffffff);

  transition: 0.2s;
}

.mobile-nav-option:hover {
  color: var(--bmw-blue);
}

.mobile-nav {
  display: none;
}

.open-mobile-nav-btn {
  width: 5.3rem;
  stroke: var(--unnamed-color-ffffff);

  cursor: pointer;

  transition: 0.2s;
}

.open-mobile-nav-btn:hover {
  transform: scale(1.1);
}

.option-2 {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4rem;
}

/* Hero background*/
.section-hero-background {
  position: absolute;

  width: 576rem;
  height: 90rem;

  z-index: -1;

  display: flex;
  justify-content: space-between;

  transition: 3s;

  transform: translateX(0rem);
}

.backround-box {
  width: 100%;
  height: 100%;
}

#background-box-1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/d_01-bmw_jazda_probna_lp/hero-background-0.png");
  background-size: cover;
}

#background-box-2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/d_01-bmw_jazda_probna_lp/hero-background-1.png");
  background-size: cover;
}

#background-box-3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/d_01-bmw_jazda_probna_lp/hero-background-2.png");
  background-size: cover;
}

/* Hero content */
.container-hero {
  margin: 0 auto;
  width: 136rem;
  height: 100%;

  display: flex;
  flex-direction: column;

  gap: 17rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10.6rem;

  position: relative;

  font-weight: 700;

  font-family: "Cairo", sans-serif;
}

/* Desktop navigation */
.main-nav {
  width: 128rem;
  height: 97%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  align-items: center;
}

.main-nav::after {
  content: "Radość z jazdy";
  position: absolute;
  top: 13rem;
  left: 116rem;

  color: var(--unnamed-color-ffffff);
  font-size: 16px;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 8rem;
  list-style: none;
}

.main-nav-link {
  text-decoration: none;
  color: var(--unnamed-color-ffffff);
  font-size: 1.8rem;

  letter-spacing: 0.9;
}

.main-nav-link:hover {
  color: var(--bmw-blue);
}

.logo {
  width: 5.3rem;
  height: 5.3rem;
}

.ilogo {
  margin-top: 10rem;
  width: 8.8rem;
  height: 4.8rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-content-title {
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--unnamed-color-ffffff);
}

.hero-content-text {
  font-size: 16px;
  color: var(--unnamed-color-ffffff);
  font-weight: 600;
}

.slider_and_cta {
  width: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliders {
  display: flex;
  gap: 2rem;
}

.slider {
  width: 6rem;
  height: 5px;
  background-color: var(--unnamed-color-ffffff);
  cursor: pointer;
}

.slider-active {
  background-color: var(--bmw-blue);
}

.cta {
  display: flex;
  justify-content: center;
}

.link-cta-hero {
  text-decoration: none;
  color: var(--unnamed-color-ffffff);
  font-size: 18px;
  letter-spacing: 0.9;
  font-weight: 600;
  text-transform: uppercase;

  width: 37.2rem;
  height: 6.3rem;
  background-color: var(--bmw-blue);
  border: 3px solid var(--bmw-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.link-cta-hero:hover {
  background-color: var(--unnamed-color-ffffff);
  color: var(--unnamed-color-000000);
  font-weight: 700;
}

/* Section tech */
.section-tech {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  row-gap: 25rem;
}

.container-tech {
  height: 60rem;
  width: 90%;

  display: flex;
  justify-content: center;

  gap: 15rem;
}

.tech-photos {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.section-tech img {
  aspect-ratio: 1/1;
}

.img-tech1 {
  width: 32rem;
  grid-row: 2/-1;
  transform: translateY(-75%);
}

.img-tech2 {
  width: 60rem;
  justify-self: start;
  grid-column: 2/-1;
}

.tech-text {
  width: 63rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tech-icon-battery {
  width: 3rem;
}

.tech-title {
  font-size: 3.6rem;
  font-weight: 700;

  line-height: 1;
}

.tech-content-1 {
  width: 80rem;

  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 14rem;
}

.tech-content-box {
  width: 19rem;
  height: 12rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-number {
  padding-bottom: 1.2rem;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.box-number::before {
  content: "";
  position: absolute;
  top: 100%;

  height: 1px;
  width: 1.3rem;
  background-color: var(--unnamed-color-000000);
}

.box-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--unnamed-color-4e4e4e);
  line-height: 2;
}

.tech-icon-car {
  width: 5rem;
}

.help-center {
  padding-right: 5rem;
}

/* Section tech second part */
.container-tech-2 {
  margin-left: 10rem;
}

.tech-photos-2 {
  width: 50%;
}

.img-tech3 {
  width: 60rem;
  grid-column: 1/3;
  justify-self: end;
}

.img-tech4 {
  width: 32rem;
  transform: translateY(-25%);
  justify-self: end;
}

.tech-content-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-top: 2rem;

  line-height: 1.7;
}

.tech-2-subtitle h2 {
  font-size: 2rem;
  color: var(--unnamed-color-707070);
  font-weight: 300;
}

.tech-2-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--unnamed-color-4e4e4e);
}

/* Section gallery */

.section-gallery {
  margin-top: 25rem;
  margin-bottom: 15rem;
}

.container-gallery {
  margin: 0 auto;
  width: 190rem;
  height: 63rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  flex-wrap: wrap;
}

.gallery-img {
  max-width: 100%;
  align-self: stretch;

  transition: 0.2s;
}

#gallery-img-1 {
  grid-row: 1/-1;
  grid-column: 1/7;
}

#gallery-img-2 {
  grid-row: 1;
  grid-column: 7/9;
}

#gallery-img-3 {
  grid-row: 1;
  grid-column: 9/-1;
}

#gallery-img-4 {
  grid-row: 2;
  grid-column: 7/10;
}

#gallery-img-5 {
  grid-row: 2;
  grid-column: 10/-1;
}

/* Section form */

.section-form {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.container-form-thx {
  position: absolute;
  width: 100%;
  height: 130vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
}

.thx-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 26.9rem;

  font-family: "Cairo", sans-serif;
  color: var(--unnamed-color-ffffff);
}

.thx-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
}

.thx-text {
  text-align: center;
  margin-bottom: 5rem;

  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 2.4;
}

.thx-btn {
  width: 13.8rem;
  height: 4.6rem;
  background-color: var(--bmw-blue);

  color: var(--unnamed-color-ffffff);
  font-size: 14px;
  letter-spacing: 0.7;
  font-weight: 500;
  text-transform: uppercase;

  cursor: pointer;

  border: none;
}

.container-form {
  margin: 5rem 0 5rem 0;
  padding: 9rem;

  width: 81.2rem;
  height: 99.9rem;
  background-color: var(--unnamed-color-ffffff);

  box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.1);

  position: relative;
}

.container-form img {
  position: absolute;
  z-index: -1;
}

.mobile {
  display: none;
}

.background-form-1 {
  width: 44.6rem;
  height: 42.6rem;
  left: -44%;
  top: 40%;
}

.background-form-2 {
  width: 29.8rem;
  height: 28.8rem;
  left: -14%;
  top: 12%;
}

.background-form-3 {
  width: 55rem;
  height: 55.8rem;
  left: 34%;
  top: 66%;
}

.background-form-4 {
  width: 44.6rem;
  height: 42.6rem;
  left: 68%;
  top: 14%;
}

.background-form-5 {
  width: 66.3rem;
  height: 37.3rem;
  left: 67%;
  top: 0%;
}

.background-form-6 {
  width: 63.8rem;
  height: 46.5rem;
  left: -38%;
  top: 55%;
}

h3 {
  letter-spacing: 0;
  color: var(--unnamed-color-000000);
  font-size: 3.2rem;
  font-weight: 700;
}

.form-box-text div {
  margin-top: 2rem;
  width: 63rem;
  height: 10rem;
  display: flex;

  flex-direction: column;
  justify-content: space-around;

  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--unnamed-color-707070);
}

.form-box-form {
  margin-top: 8rem;
}

.form-box-form form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-box-form form p {
  font-size: 2rem;
  font-weight: 500;
}

.form-box-form form div {
  display: flex;
  align-items: center;

  font-size: 2rem;
  color: var(--unnamed-color-707070);
}

.form-box-form form div input {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.form-box-form form div label {
  margin-right: 5rem;
}

.form-box-form input {
  width: 50rem;
  height: 5rem;
  padding-left: 2rem;
  border: none;
  border-bottom: 1px solid #ddd;

  font-size: 14px;
}

.form-box-form input:focus-visible {
  outline: none;
  border-bottom: 2px solid #aaa;
}

.error_input {
  border: 2px solid red !important;
}

label,
.radio-input {
  cursor: pointer;
}

.form-btn {
  width: 24rem;
  height: 6rem;
  margin-top: 3rem;

  background-color: var(--bmw-blue);
  border: 2px solid var(--bmw-blue);

  font-size: 18px;
  font-weight: 500;
  color: var(--unnamed-color-ffffff);

  cursor: pointer;

  transition: 0.2s;
}

.form-btn:hover {
  background-color: var(--unnamed-color-ffffff);
  color: var(--unnamed-color-000000);
}

/* Footer */

footer {
  margin-top: 12rem;

  width: 100%;
  height: 42.7rem;
  background-color: #e6e6e6;
  padding-left: 16rem;

  font-family: "Roboto", sans-serif;
}

.container-footer {
  margin: 0 auto;
  width: 170rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.social_links {
  width: 90%;
  height: 10rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;

  border-bottom: 1px solid #bebebe;
}

.social_links p {
  font-size: 2.4rem;
  color: var(--unnamed-color-707070);
  font-weight: 300;
}

.social_links img {
  width: 3.2rem;
  height: 3.2rem;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

.footer-content {
  width: 100%;
  height: 32.7rem;
  display: flex;
  align-items: center;
}

.footer-content-box {
  width: 34rem;
  height: 15.5rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-content-box-title {
  font-size: 2rem;
  font-weight: 300;
  color: var(--unnamed-color-707070);
}

.footer-content-box-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-content-box-links a {
  font-size: 14px;
  font-weight: 700;
  color: var(--unnamed-color-707070);

  cursor: pointer;
}

.footer-content-box-links a:hover {
  color: var(--bmw-blue);
}

/* Copyright section */
.copyright {
  margin: 0 auto;
  width: 170rem;
  padding-left: 8rem;
  height: 6rem;

  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  color: var(--unnamed-color-4e4e4e);
}

/* Helper classes */
.hidden {
  display: none;
}
